<td-layout-nav toolbarTitle="{{'COMMON.LOGIN' | translate}}" logo="logo" icon="icon" color="primary">
  <td-layout-card-over cardTitle="{{'COMMON.LOGIN_TO_CONTINUE' | translate}}" cardWidth="60" color="primary">
    <form class="w-100 d-grid" [formGroup]=loginForm (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div class="form-group">
          <mat-form-field class="w-100">
            <input matInput type="email" formControlName="email" name="email" class="form-control" required email placeholder="{{'COMMON.EMAIL'| translate}}">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput type="password" formControlName="password" name="password" class="form-control" required placeholder="{{'COMMON.PASSWORD'| translate}}">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button disabled mat-button>{{'COMMON.CREATE' | translate}}</button>
        <button mat-raised-button type="submit" class="float-right" color="primary" [disabled]=!loginForm.valid>{{'COMMON.LOGIN' | translate}}</button>
      </mat-card-actions>
    </form>
  </td-layout-card-over>
</td-layout-nav>
