<ng-template let-i="index" let-last="last" ngFor let-turn [ngForOf]="turnList | async">
  <a mat-list-item>
    <h1 matLine>{{turn?.name}} - {{turn?.description}}</h1>
    <img matListAvatar src="https://api.adorable.io/avatars/285/{{i}}@adorable.io.png" />
    <h4 matLine class="cursor-pointer"> {{turn?.startDate?.toDate() | date: 'dd/MM/yyyy HH:mm'}} - {{turn?.endDate?.toDate() | date:'HH:mm'}} </h4>
    <span flex="100" class="mat-caption tc-grey-600"> {{'TURNS.CAPACITY'| translate}}: {{turn?.capcity}}</span>
    <span flex="100" class="mat-caption tc-grey-600"> {{'TURNS.CAPACITY'| translate}}: {{turn?.capcity}}</span>
    <button mat-icon-button matTooltip="{{'TURNS.STAR_TURN'| translate}}">
      <mat-icon>star_outline</mat-icon>
    </button>
    <button mat-icon-button matTooltip="{{'TURNS.EDIT_TURN'| translate}}">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button matTooltip="{{'COMMON.MORE_ACTIONS'| translate}}">
      <mat-icon>more_vert</mat-icon>
    </button>
  </a>
  <mat-divider *ngIf="!last"></mat-divider>
</ng-template>

<a mat-fab color="accent" matTooltip="{{'TURN.ADD_TURN' | translate}}" [routerLink]="['create-turn']" matTooltipPosition="before"
  class="mat-fab-bottom-right z-3 fixed fab-pad">
  <mat-icon>add</mat-icon>
</a>